<form name="contact" method="POST" id="contact-form" netlify netlify-honeypot="bot-field">
    <label class="hidden">Ignore this field if you're human: <input name="bot-field"></label>
    <label>Your Name: <input name="name" type="text" autocomplete="off" placeholder="Jane Doe"></label>
    <label>Your Email: <input name="email" type="email" autocomplete="off" placeholder="jane.doe@example.com" required></label>
    <label>Your Message: <textarea name="message" maxlength="1000" rows="3" placeholder="Lorem ipsum..." required></textarea></label>
    <div id="submission-field">
        <div id="human-question">
            <span id="text">What is <div id="left-num">--</div> plus <div id="right-num">--</div>?<input id="question-input" type="number" min="0" max="20" required></span>
        </div>
        <input id="form-submit" type="submit" value="Send Message">
    </div>
    <span id="message" class="hidden"></span>
    <noscript>
        <span id="message">Please enable JavaScript to use the form.</span>
    </noscript>
</form>
<script src="/assets/script/form-input.js"></script>