<div id="creative-commons">
    {% assign terms = include.terms | split: " " %}
    <a href="{{include.url}}">
        <div class="cc-icon cc" title="Creative Commons"></div>
        {% for term in terms %}
        {% if term == "by" %}
        <div class="cc-icon by" title="Attribution"></div>
        {% elsif term == "nc" %}
        <div class="cc-icon nc" title="Non-commercial"></div>
        {% elsif term == "nd" %}
        <div class="cc-icon nd" title="No derivitives"></div>
        {% elsif term == "sa" %}
        <div class="cc-icon sa" title="Share-alike"></div>
        {% elsif term == "zero" %}
        <div class="cc-icon zero" title="Public domain"></div>
        {% endif %}
        {% endfor %}
    </a>
</div>