<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{page.title}} — {{site.title}}</title>
<link rel="manifest" href="/manifest.json">
<link rel="shortcut icon" href="/favicon.png">
<meta name="title" content="{{page.title}} — {{site.title}}" />
<meta property="og:title" content="{{page.title}} — {{site.title}}" />
{% if page.subtitle != "" %}
<meta name="description" content="{{page.subtitle}}" />
<meta property="og:description" content="{{page.subtitle}}" />
{% else %}
<meta name="description" content="{{page.content | markdownify | strip_html | strip_newlines | truncatewords: 40}}" />
<meta property="og:description" content="{{page.content | markdownify | strip_html | strip_newlines | truncatewords: 40}}" />
{% endif %}
{% if page.cover %}
<meta property="og:image" content="https://res.cloudinary.com/attkzach/image/upload/t_uploads/uploads/{{page.cover | slice: 69, 9999 | replace: '.webp', '.jpg'}}" />
{% else %}
<meta property="og:image" content="{{site.url}}/assets/image/seo-cover-default.jpg" />
{% endif %}
<meta property="og:type" content="website" />
<meta property="og:url" content="{{site.url}}{{page.url}}" />
<link rel="stylesheet" href="/assets/style/style.min.css" type="text/css">
{% if page.stylesheets %}
{% for stylesheet in page.stylesheets %}
<link rel="stylesheet" href="{{stylesheet}}" type="text/css">
{% endfor %}
{% endif %}
{% if page.scripts %}
{% for script in page.scripts %}
<script type="text/javascript" src="{{script}}" defer></script>
{% endfor %}
{% endif %}