<aside class="siteSidebar">
    <div class="siteSidebar__branding mod--no-select">
        {% include header-logo.html %}
    </div>
    <div class="siteSidebar__navigation">
        <nav>
            {% assign pages = site.pages | where: "header.show", "true" | sort: "header.order" %}
            {% for header-page in pages %}{% if header-page.url == page.url %}<a href="{{header-page.url}}" class="link active">{{header-page.title}}</a>{% else %}<a href="{{header-page.url}}" class="link">{{header-page.title}}</a>{% endif %}{% endfor %}
        </nav>
        <nav>
            {% for link in site.data.external-links.link %}<a href="{{link.url}}" class="link" target="_blank" rel="nofollow noreferrer">{{link.title}}</a>{% endfor %}
        </nav>
    </div>
    <div class="siteSidebar__footer mod--no-select">&copy; {{site.author.name}} {{site.time | date: "%Y"}}</div>
</aside>