.portrait {
    position: relative;
    display: block;
    float: left;
    margin: 0 1rem 0 0;
    width: 200px;
    height: 200px;
    outline: 1px solid rgba(0, 0, 0, .15);
    outline-offset: -1px;
    border-radius: 24px;
    user-select: none;
    pointer-events: none;
}