@font-face {
    font-family: 'Inter';
    src: local('Inter Bold'), local('Inter-Bold'),
        url('/assets/font/inter/subset-Inter-Bold.woff2') format('woff2'),
        url('/assets/font/inter/subset-Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Regular'), local('Inter-Regular'),
        url('/assets/font/inter/subset-Inter-Regular.woff2') format('woff2'),
        url('/assets/font/inter/subset-Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code Regular'), local('FiraCode-Regular'),
        url('/assets/font/fira-code/subset-FiraCode-Regular.woff2') format('woff2'),
        url('/assets/font/fira-code/subset-FiraCode-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code Bold'), local('FiraCode-Bold'),
        url('/assets/font/fira-code/subset-FiraCode-Bold.woff2') format('woff2'),
        url('/assets/font/fira-code/subset-FiraCode-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}