@import url("/assets/font/inter/stylesheet.css");

* { user-select: none }

*:focus { outline: 0 }

html {
    background: #e6ebf0;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin: 0;
}

body {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

a {
    color: white;
    text-decoration: 1px underline rgba(255, 255, 255, .5);
}

a:hover {
    opacity: .75;
    text-decoration: 1px underline rgba(255, 255, 255, 1);
}

.backgroundPanel, .contentContainer {
    position: absolute;
    width: calc(100vw - 40px);
    height: calc(100vh - 120px);
    top: 60px;
    left: 20px;
    overflow: hidden;
}

.backgroundPanel {
    display: block;
    border-radius: 20px;
    outline: 1px solid rgba(0, 0, 0, .25);
    outline-offset: -1px;
    background: url("/assets/image/background.webp") no-repeat fixed top right/cover;
    box-shadow: -6px 8px 16px rgba(0, 0, 0, .25);
    animation: fade-in 2s 0s ease-in-out forwards;
    z-index: 1;
}

.contentContainer {
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: min-content;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    animation: fade-in 2s 1s ease-in-out backwards;
    z-index: 3;
}

.imageSource {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
    line-height: 1rem;
    padding: 10px 20px;
    border-radius: 5px 10px 5px 10px;
    background: rgba(255, 255, 255, .15) url("/assets/image/noise.webp") repeat center/600px;
    filter: drop-shadow(-3px 6px 12px rgba(0, 0, 0, .1));
    backdrop-filter: blur(10px);
    outline: 1px solid rgba(255, 255, 255, .25);
    outline-offset: -1px;
}

.cloudCover {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 13/20;
    background: url("/assets/image/cloud-cover.webp") no-repeat fixed center right/cover;
    user-select: none;
    pointer-events: none;
    z-index: 2;
    transform-origin: top right;
    filter: opacity(1) blur(0px);
    animation: move-in-from-right 2s 3s ease-out backwards;
}

.linkContainer {
    position: relative;
    display: grid;
    grid-template-columns: 300px min-content;
    gap: 120px;
    align-content: center;
    align-items: center;
    padding: 40px 60px;
    border-radius: 20px;
    background: rgba(255, 255, 255, .15) url("/assets/image/noise.webp") repeat center/600px;
    filter: drop-shadow(-3px 6px 12px rgba(0, 0, 0, .1));
    backdrop-filter: blur(10px);
    outline: 1px solid rgba(255, 255, 255, .25);
    outline-offset: -1px;
    overflow: hidden;
}

.linkContainer > * {
    filter: drop-shadow(-1px 2px 4px rgba(0, 0, 0, .2));
}

.linkContainer::after {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: calc(100% - 2px);
    top: 1px;
    left: 419px;
    border-radius: 1px;
    background: rgba(255, 255, 255, .25);
}

.linkContainer__branding {
    position: relative;
    display: block;
    width: 300px;
    height: 68px;
    user-select: none;
    pointer-events: none;
}

.linkContainer__branding img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.linkContainer__branding, .linkContainer__links { z-index: 2 }

.links__link {
    position: relative;
    display: block;
    margin: 0 0 20px 0;
    font-size: 1.25rem;
    line-height: 1.25rem;
    text-decoration: none;
    text-align: center;
    transform: scale(1);
    transition: .15s ease-in-out all;
}

.links__link:hover {
    opacity: .75;
    text-decoration: none;
    transform: scale(1.1);
}

.links__link:last-of-type { margin: 0 }

.linkContainer__shine {
    position: absolute;
    display: block;
    width: auto;
    height: 100%;
    aspect-ratio: 2/1;
    background: url("/assets/image/shine.webp") no-repeat top left/cover;
    top: 0;
    left: 50%;
    transform: translateX(-200%);
    opacity: 0;
    z-index: 3;
    user-select: none;
    pointer-events: none;
}

.linkContainer:hover > .linkContainer__shine { animation: shine .3s 0s linear 1 backwards }

/*animation keyframes*/

@keyframes shine {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }
    50% {
        transform: translateX(-50%);
        opacity: .15;
    }
    100% {
        transform: translateX(200%);
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes move-in-from-right {
    from {
        transform: scale(1.2) translate(300px, -100px);
        filter: opacity(0) blur(10px);
    }
    to {
        transform: scale(1) translate(0, 0);
        filter: opacity(1) blur(0px);
    }
}

/*responsive design*/

@media screen and (max-width: 740px) {
    .backgroundPanel, .contentContainer {
        height: calc(100vh - 40px);
        top: 20px;
    }

    .contentContainer {
        grid-template-columns: 1fr;
    }
    
    .linkContainer {
        grid-template-columns: min-content;
        grid-template-rows: 45px auto;
        justify-content: space-around;
        gap: 80px;
        width: auto;
        max-width: calc(100% - 40px);
        margin: 0 20px;
    }

    .linkContainer::after {
        width: calc(100% - 2px);
        height: 1px;
        top: 125px;
        left: 1px;
    }

    .linkContainer__branding {
        width: 200px;
        height: 45px;
    }

    .cloudCover { transform-origin: center }

    @keyframes move-in-from-right {
        from {
            transform: scale(1.2) translate(0, 0);
            filter: opacity(0) blur(10px);
        }
        to {
            transform: scale(1) translate(0, 0);
            filter: opacity(1) blur(0px);
        }
    }
}

@media (prefers-reduced-motion) {
    *, :before, :after {
        transition-property: none !important;
        transform: none !important;
        animation: none !important;
    }
}