:root {
    --f-sans: 'Inter', sans-serif;
    --f-mono: 'Fira Code', monospace;
    --c-background: rgb(10, 20, 30);
    --c-text-normal: rgb(255, 255, 255);
    --c-text-emphasis: rgb(80, 165, 255);
    --breakpoint: 900px;
}

::selection, ::-moz-selection {
    background: var(--c-text-emphasis);
    color: var(--c-text-normal);
}

html {
    font-size: 18px;
    font-family: var(--f-sans);
    background: var(--c-background);
    color: var(--c-text-normal);
}

body {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: var(--breakpoint);
}

main { padding: 40px }

h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 0 0 40px 0;
    color: var(--c-text-emphasis);
    text-align: center;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0 0 1rem 0;
}

a {
    font-weight: bold;
    color: var(--c-text-emphasis);
    text-decoration: none;
}

footer {
    position: relative;
    display: block;
    clear: both;
}