:root {
    /*Font families*/
    --f-sans: 'Inter', sans-serif;
    --f-mono: 'Fira Code', monospace;

    /*Color palettes*/
    --c-background: rgb(230, 240, 250);
    --c-code-background: rgb(20, 30, 40);
    --c-text-normal: rgb(10, 20, 30);
    --c-text-subtle: rgb(100, 110, 120);
    --c-text-emphasis: rgb(20, 105, 185);

    /*Font sizes*/
    --s-xlarge: 2.5rem;
    --s-large: 1.5rem;
    --s-normal: 1rem;
    --s-small: .75rem;

    /*Breakpoint*/
    --breakpoint: 900px;
}

::selection, ::-moz-selection {
    background: var(--c-text-emphasis);
    color: var(--c-background);
}

*:focus {
    outline: 2px solid var(--c-text-emphasis);
    background: rgba(40, 125, 215, .15);
    border-radius: 2px;
}

html {
    font-size: 18px;
    font-family: var(--f-sans);
    background: var(--c-code-background);
    color: var(--c-text-normal);
    z-index: 0;
}

body {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 71px 0 0 0;
    max-width: var(--breakpoint);
    background: var(--c-background);
    z-index: 1;
}

header {
    position: fixed;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    padding: 20px 40px;
    max-width: calc(var(--breakpoint) - 80px);
    width: calc(100% - 80px);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    background: var(--c-background);
    z-index: 4;
}

#site-title {
    font-size: var(--s-large);
    line-height: 30px;
    margin: 0;
}

#site-navigation { text-align: right }

header .link {
    position: relative;
    display: inline-block;
    margin: 0 20px 0 0;
    line-height: 30px;
}

header .link:last-of-type { margin: 0 }

footer {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    clear: both;
    padding: 20px 40px;
    border-top: 1px solid rgba(0, 0, 0, .15);
    background: var(--c-background);
    z-index: 3;
}

footer span {
    font-size: var(--s-small);
    color: var(--c-text-subtle);
    line-height: 30px;
    vertical-align: middle;
}

#copyright { text-align: left }
#last-updated { text-align: right }

main {
    padding: 20px 40px;
    min-height: calc(100vh - 182px);
    z-index: 2;
}

h1 {
    font-size: var(--s-xlarge);
    line-height: var(--s-xlarge);
    margin: 0 0 20px 0;
    color: var(--c-text-emphasis);
    text-align: center;
}

h2 {
    font-size: var(--s-large);
    line-height: var(--s-large);
    margin: var(--s-normal) 0;
    text-align: center;
}

p {
    font-size: var(--s-normal);
    line-height: var(--s-large);
    margin: var(--s-normal) 0;
}

p:last-of-type { margin: 0 }

a {
    font-weight: bold;
    color: var(--c-text-emphasis);
    text-decoration: none;
}

a:hover {
    color: var(--c-text-subtle);
    text-decoration: underline solid 2px;
}

ul, ol {
    padding: 0 4ch;
    margin: var(--s-normal) auto;
}

li {
    font-size: var(--s-normal);
    line-height: var(--s-large);
    margin: 0 0 var(--s-normal) 0;
}

li::marker {
    font-family: var(--f-mono);
    color: var(--c-text-subtle);
}

li:last-of-type { margin: 0 }

li p { margin: 0 }

p img {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    min-width: 200px;
    border-radius: 10px;
    outline: 1px solid rgba(0, 0, 0, .15);
    outline-offset: -1px;
    user-select: none;
    pointer-events: none;
}

code { font-family: var(--f-mono) }

pre {
    position: relative;
    display: block;
    padding: 5px 20px;
    margin: var(--s-normal) 0;
    border-radius: 10px;
    background: var(--c-code-background);
    color: var(--c-background);
    overflow: auto hidden;
    line-height: var(--s-large);
}

.rouge-gutter.gl { padding: 0 }

.lineno { 
    padding: 0;
    color: var(--c-text-subtle);
    user-select: none;
    pointer-events: none;
}

#subtitle {
    font-size: var(--s-large);
    font-weight: normal;
    color: var(--c-text-subtle);
    margin: 0 0 20px 0;
}

#post-info {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin: 0 0 20px 0;
    font-size: var(--s-small);
    line-height: 30px;
    color: var(--c-text-subtle);
}

#tags { justify-self: center }

#tags .tag {
    padding: 5px 10px;
    border-radius: 5px;
    background: rgba(0, 0, 0, .05);
    margin: 0 5px 0 0;
    font-family: var(--f-mono);
    text-transform: lowercase;
    color: var(--c-text-normal);
    font-weight: bold;
    line-height: 20px;
}

#tags .tag:last-of-type { margin: 0 }
