#contact-form {
    position: relative;
    display: block;
    padding: 20px;
    width: calc(100% - 42px);
    max-width: calc(var(--breakpoint) - 122px);
    min-width: 250px;
    margin: 20px auto 0 auto;
    background:var(--c-foreground);
    border: 1px solid var(--c-border);
    overflow: hidden;
}

label {
    position: relative;
    display: grid;
    grid-template-columns: 95px 1fr;
    gap: 20px;
    margin: 0 0 15px 0;
    font-size: var(--s-small);
    line-height: 26px;
    vertical-align: middle;
    color: var(--c-text-subtle);
}

label:last-of-type { margin: 0 }

input, textarea {
    position: relative;
    display: block;
    padding: 5px 10px;
    border: 1px solid var(--c-border);
    background: var(--c-foreground);
    color: var(--c-text-normal);
    margin: 0;
    width: 100%;
    max-width: calc(100% - 22px);
    max-height: 300px;
    min-height: 16px;
    font-family: var(--f-sans);
    font-size: var(--s-small);
    overflow: hidden;
    resize: vertical;
}

input[type="submit"] {
    position: relative;
    display: block;
    cursor: pointer;
    text-align: center;
    min-width: 120px;
}

input[type="submit"]:hover { background: var(--c-border) }

#submission-field {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--c-border);
    padding: 20px 0 0 0;
    margin: 20px 0 0 0;
}

#text {
    display: block;
    color: var(--c-text-subtle);
    font-size: var(--s-small);
    line-height: var(--s-small);
    font-family: var(--f-mono);
}

#text div {
    display: inline;
    color: var(--c-text-normal);
}

#question-input { 
    display: inline;
    max-width: 50px;
    margin: 0 0 0 15px;
    padding: 5px;
}

#human-question {
    position: relative;
    display: block;
    width: 100%;
}

#message {
    position: relative;
    display: block;
    margin: 20px 0 0 0;
    font-size: var(--s-small);
    line-height: var(--s-small);
    color: rgb(255, 75, 75);
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    label {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 10px;
        margin: 0 0 20px 0;
    }

    #submission-field {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 10;
        align-items: center;
        justify-content: space-around;
    }

    #captcha { margin: 0 auto }

    input[type="submit"] {
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
    }

    #text { text-align: center }
}