:root {
    /*Font families*/
    --f-sans: 'Inter', sans-serif;
    --f-mono: 'Fira Code', monospace;

    /*Color palettes*/
    --c-foreground: rgb(255, 255, 255);
    --c-background: rgb(235, 235, 235);
    --c-code-background: rgb(30, 30, 30);
    --c-text-normal: rgb(10, 20, 30);
    --c-text-subtle: rgb(100, 110, 120);
    --c-text-emphasis: rgb(20, 105, 185);
    --c-border: rgb(235, 235, 235);

    /*Font sizes*/
    --s-xlarge: 2.5rem;
    --s-large: 1.5rem;
    --s-normal: 1rem;
    --s-small: .75rem;

    /*Breakpoint*/
    --max-width: 1000px;
    --breakpoint: 700px;
}

::selection, ::-moz-selection {
    background: var(--c-text-emphasis);
    color: white;
}

*:focus {
    outline: 2px solid var(--c-text-emphasis);
    background: rgba(40, 125, 215, .15);
    border-radius: 2px;
}

html {
    font-size: 18px;
    font-family: var(--f-sans);
    background: var(--c-background);
    color: var(--c-text-normal);
    z-index: 0;
}

body {
    position: relative;
    display: block;
    margin: 0 auto;
    min-height: 100vh;
    max-width: var(--max-width);
    background: var(--c-foreground);
    z-index: 1;
}

header {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    padding: 20px 40px;
    max-width: calc(var(--max-width) - 80px);
    width: calc(100% - 80px);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid var(--c-border);
    background: var(--c-foreground);
    z-index: 4;
}

#site-title {
    font-size: var(--s-large);
    line-height: 30px;
    margin: 0;
}

#site-navigation { text-align: right }

header .link {
    position: relative;
    display: inline-block;
    margin: 0 20px 0 0;
    line-height: 30px;
}

header .link:last-of-type { margin: 0 }

footer {
    position: relative;
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
    clear: both;
    padding: 20px 40px;
    border-top: 1px solid var(--c-border);
    background: var(--c-foreground);
    z-index: 3;
}

footer .row {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
}

footer span {
    font-size: var(--s-small);
    color: var(--c-text-subtle);
    line-height: 20px;
    vertical-align: middle;
}

#copyright { text-align: left }
#last-updated { text-align: right }

main {
    padding: 40px;
    z-index: 2;
}

h1 {
    font-size: var(--s-xlarge);
    line-height: var(--s-xlarge);
    margin: 0 0 40px 0;
    color: var(--c-text-emphasis);
    text-align: center;
}

h2 {
    font-size: var(--s-large);
    line-height: var(--s-large);
    margin: var(--s-large) 0;
    text-align: center;
}

h3 {
    font-size: var(--s-large);
    line-height: var(--s-large);
    margin: var(--s-normal) 0;
    font-weight: normal;
}

h4 {
    font-size: var(--s-normal);
    line-height: var(--s-normal);
    margin: var(--s-normal) 0;
    font-weight: normal;
    color: var(--c-text-subtle);
}

p {
    font-size: var(--s-normal);
    line-height: var(--s-large);
    margin: var(--s-normal) 0;
}

p:last-of-type { margin: var(--s-normal) 0 0 0 }

hr {
    border: 0;
    border-top: 1px dashed var(--c-border);
    height: 0px;
    width: 100%;
    margin: 40px 0;
}

a {
    font-weight: bold;
    color: var(--c-text-emphasis);
    text-decoration: none;
}

a:hover {
    color: var(--c-text-subtle);
    text-decoration: underline solid 2px;
}

ul, ol {
    padding: 0 4ch;
    margin: var(--s-normal) auto;
}

li {
    font-size: var(--s-normal);
    line-height: var(--s-large);
    margin: 0 0 var(--s-normal) 0;
}

li::marker {
    font-family: var(--f-mono);
    color: var(--c-text-subtle);
}

li:last-of-type { margin: 0 }

li p { margin: 0 }

p img {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    min-width: 200px;
    border-radius: 10px;
    outline: 1px solid rgba(0, 0, 0, .15);
    outline-offset: -1px;
    user-select: none;
    pointer-events: none;
    background-color: var(--c-foreground);
    background-image:
        linear-gradient(45deg, #ccc 25%, transparent 25%),
        linear-gradient(-45deg, #ccc 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #ccc 75%),
        linear-gradient(-45deg, transparent 75%, #ccc 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

code { font-family: var(--f-mono) }

pre {
    position: relative;
    display: block;
    padding: 20px;
    margin: var(--s-normal) 0;
    border-radius: 10px;
    background: var(--c-code-background);
    overflow: auto hidden;
    line-height: var(--s-large);
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

@media (prefers-color-scheme: dark) {
    :root {
        --c-foreground: rgb(20, 20, 20);
        --c-background: rgb(10, 10, 10);
        --c-text-normal: rgb(235, 245, 255);
        --c-text-subtle: rgb(150, 160, 170);
        --c-text-emphasis: rgb(80, 165, 245);
        --c-border: rgb(60, 60, 60);
    }

    p img {
        outline: 1px solid rgba(255, 255, 255, .15);
        background-image:
            linear-gradient(45deg, #333 25%, transparent 25%),
            linear-gradient(-45deg, #333 25%, transparent 25%),
            linear-gradient(45deg, transparent 75%, #333 75%),
            linear-gradient(-45deg, transparent 75%, #333 75%);
    }
}

@media screen and (max-width: 1000px) {
    :root { --max-width: 700px }
    
    h1 {
        font-size: var(--s-large);
        line-height: var(--s-large);
    }

    header { grid-template-columns: 1fr }

    #site-title { display: none }

    #site-navigation { text-align: center }

    #site-navigation .link { line-height: 20px }

    footer {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 10px;
    }

    footer .row {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        text-align: center;
        gap: 10px;
    }

    #copyright,
    #last-updated { text-align: center }
}