:root {
    /*Font families*/
    --f-sans: 'Inter', sans-serif;
    --f-mono: 'Fira Code', monospace;

    /*Color palettes*/
    --c-foreground: rgb(255, 255, 255);
    --c-background: rgb(235, 235, 235);
    --c-code-background: rgb(20, 30, 40);
    --c-text-normal: rgb(10, 20, 30);
    --c-text-subtle: rgb(100, 110, 120);
    --c-text-emphasis: rgb(20, 105, 185);
    --c-border: rgb(235, 235, 235);

    /*Font sizes*/
    --s-xlarge: 2.5rem;
    --s-large: 1.5rem;
    --s-normal: 1rem;
    --s-small: .75rem;

    /*Breakpoint*/
    --max-width: 1000px;
    --breakpoint: 700px;
}

::selection, ::-moz-selection {
    background: var(--c-text-emphasis);
    color: white;
}

*:focus {
    outline: 2px solid var(--c-text-emphasis);
    background: rgba(40, 125, 215, .15);
    border-radius: 2px;
}

html {
    font-size: 18px;
    font-family: var(--f-sans);
    background: var(--c-background);
    color: var(--c-text-normal);
    z-index: 0;
}

body {
    position: relative;
    display: block;
    margin: 0 auto;
    min-height: 100vh;
    max-width: var(--max-width);
    background: var(--c-foreground);
    z-index: 1;
}

header {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    padding: 20px 40px;
    max-width: calc(var(--max-width) - 80px);
    width: calc(100% - 80px);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid var(--c-border);
    background: var(--c-foreground);
    z-index: 4;
}

#site-title {
    font-size: var(--s-large);
    line-height: 30px;
    margin: 0;
}

#site-navigation { text-align: right }

header .link {
    position: relative;
    display: inline-block;
    margin: 0 20px 0 0;
    line-height: 30px;
}

header .link:last-of-type { margin: 0 }

footer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    clear: both;
    padding: 20px 40px;
    border-top: 1px solid var(--c-border);
    background: var(--c-foreground);
    z-index: 3;
}

footer span {
    font-size: var(--s-small);
    color: var(--c-text-subtle);
    line-height: 20px;
    vertical-align: middle;
}

#copyright { text-align: left }
#last-updated { text-align: right }

main {
    padding: 20px 40px;
    z-index: 2;
}

h1 {
    font-size: var(--s-xlarge);
    line-height: var(--s-xlarge);
    margin: 0 0 20px 0;
    color: var(--c-text-emphasis);
    text-align: center;
}

h2 {
    font-size: var(--s-large);
    line-height: var(--s-large);
    margin: var(--s-normal) 0;
    text-align: center;
}

p {
    font-size: var(--s-normal);
    line-height: var(--s-large);
    margin: var(--s-normal) 0;
}

p:last-of-type { margin: var(--s-normal) 0 0 0 }

hr {
    border: 0;
    border-top: 1px solid var(--c-border);
    height: 0px;
    width: 100%;
    margin: 20px 0;
}

a {
    font-weight: bold;
    color: var(--c-text-emphasis);
    text-decoration: none;
}

a:hover {
    color: var(--c-text-subtle);
    text-decoration: underline solid 2px;
}

ul, ol {
    padding: 0 4ch;
    margin: var(--s-normal) auto;
}

li {
    font-size: var(--s-normal);
    line-height: var(--s-large);
    margin: 0 0 var(--s-normal) 0;
}

li::marker {
    font-family: var(--f-mono);
    color: var(--c-text-subtle);
}

li:last-of-type { margin: 0 }

li p { margin: 0 }

p img {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    min-width: 200px;
    border-radius: 10px;
    outline: 1px solid var(--c-border);
    outline-offset: -1px;
    user-select: none;
    pointer-events: none;
}

code { font-family: var(--f-mono) }

pre {
    position: relative;
    display: block;
    padding: 5px 10px;
    margin: var(--s-normal) 0;
    border-radius: 10px;
    background: var(--c-code-background);
    overflow: auto hidden;
    line-height: var(--s-large);
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

#cover {
    position: relative;
    display: block;
    margin: 0 auto;
    width: calc(100% + 80px);
    max-height: 500px;
    border-bottom: 1px solid var(--c-border);
    margin: -20px 0 20px -40px;
    user-select: none;
    pointer-events: none;
    overflow: hidden;
    font-size: 0;
}

#cover img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0;
}

#category {
    position: relative;
    display: block;
    text-align: center;
    margin: 0 0 10px 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--c-text-subtle);
    font-size: var(--s-small);
    line-height: var(--s-small);
}

#subtitle {
    font-size: var(--s-normal);
    line-height: var(--s-normal);
    font-weight: normal;
    font-style: italic;
    color: var(--c-text-subtle);
    margin: 0 0 20px 0;
}

#post-info {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin: 20px 0;
    padding: 10px 20px;
    font-size: var(--s-small);
    line-height: 30px;
    color: var(--c-text-subtle);
    border-top: 1px solid var(--c-border);
    border-bottom: 1px solid var(--c-border);
}

#tags { justify-self: center }

#tags .tag {
    padding: 5px 10px;
    border-radius: 5px;
    background: var(--c-border);
    margin: 0 5px 0 0;
    font-family: var(--f-mono);
    text-transform: lowercase;
    color: var(--c-text-normal);
    line-height: 20px;
}

#tags .tag:last-of-type { margin: 0 }

#pagination { 
    text-align: center;
    color: var(--c-text-subtle);
    font-family: var(--f-mono);
    font-size: var(--s-small);
    line-height: var(--s-small);
    margin: 20px 0 0 0;
}

#pagination a {
    font-size: var(--s-normal);
}

#contact-form {
    position: relative;
    display: block;
    padding: 20px;
    width: calc(100% - 42px);
    max-width: calc(var(--breakpoint) - 122px);
    min-width: 250px;
    margin: 20px auto 0 auto;
    background:var(--c-foreground);
    border: 1px solid var(--c-border);
    overflow: hidden;
}

label {
    position: relative;
    display: grid;
    grid-template-columns: 95px 1fr;
    gap: 20px;
    margin: 0 0 15px 0;
    font-size: var(--s-small);
    line-height: 26px;
    vertical-align: middle;
    color: var(--c-text-subtle);
}

label:last-of-type { margin: 0 }

input, textarea {
    position: relative;
    display: block;
    padding: 5px 10px;
    border: 1px solid var(--c-border);
    background: var(--c-foreground);
    color: var(--c-text-normal);
    margin: 0;
    width: 100%;
    max-width: calc(100% - 22px);
    max-height: 300px;
    min-height: 16px;
    font-family: var(--f-sans);
    font-size: var(--s-small);
    overflow: hidden;
    resize: vertical;
}

input[type="submit"] {
    position: relative;
    display: block;
    cursor: pointer;
    text-align: center;
    min-width: 120px;
}

input[type="submit"]:hover { background: var(--c-border) }

#submission-field {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--c-border);
    padding: 20px 0 0 0;
    margin: 20px 0 0 0;
}

#text {
    display: block;
    color: var(--c-text-subtle);
    font-size: var(--s-small);
    line-height: var(--s-small);
    font-family: var(--f-mono);
}

#text div {
    display: inline;
    color: var(--c-text-normal);
}

#question-input { 
    display: inline;
    max-width: 50px;
    margin: 0 0 0 15px;
    padding: 5px;
}

#human-question {
    position: relative;
    display: block;
    width: 100%;
}

#message {
    position: relative;
    display: block;
    margin: 20px 0 0 0;
    font-size: var(--s-small);
    line-height: var(--s-small);
    color: rgb(255, 75, 75);
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    label {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 10px;
        margin: 0 0 20px 0;
    }

    #submission-field {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 10;
        align-items: center;
        justify-content: space-around;
    }

    #captcha { margin: 0 auto }

    input[type="submit"] {
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
    }

    #text { text-align: center }
}

@media screen and (max-width: 1000px) {
    :root { --max-width: 700px }
    
    h1 {
        font-size: var(--s-large);
        line-height: var(--s-large);
    }

    header { grid-template-columns: 1fr }

    #site-title { display: none }

    #site-navigation { text-align: center }

    #site-navigation .link { line-height: 20px }

    #post-info {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 10px;
    }

    #author, #tags, #tags .tag {
        text-align: center;
        word-break: break-word;
        line-height: var(--s-normal);
    }

    #tags .tag {
        display: block;
        margin: 0 0 5px 0;
    }

    footer {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 10px;
    }

    #copyright,
    #creative-commons,
    #last-updated { text-align: center }
}

@media (prefers-color-scheme: dark) {
    :root {
        --c-foreground: rgb(20, 20, 20);
        --c-background: rgb(0, 0, 0);
        --c-code-background: rgb(20, 30, 40);
        --c-text-normal: rgb(235, 245, 255);
        --c-text-subtle: rgb(150, 160, 170);
        --c-text-emphasis: rgb(80, 165, 245);
        --c-border: rgb(50, 50, 50);
    }

    #creative-commons .cc-icon { filter: invert(1.0) }
}