<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{site.title}}</title>
    <meta name="title" content="{{site.title}}">
    <meta name="description" content="{{site.description}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{site.url}}">
    <meta property="og:title" content="{{site.title}}">
    <meta property="og:description" content="{{site.description}}">
    <meta property="og:image" content="{{site.url}}/assets/image/seo-cover.jpg">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{site.url}}">
    <meta property="twitter:title" content="{{site.title}}">
    <meta property="twitter:description" content="{{site.description}}">
    <meta property="twitter:image" content="{{site.url}}/assets/image/seo-cover.jpg">
    <link rel="stylesheet" href="/assets/style/main.css">
    <link rel="shortcut icon" href="/favicon.png">
</head>
<body>
    <div class="contentContainer">
        {{content}}
    </div>
    <div class="cloudCover" aria-hidden="true"></div>
    <div class="backgroundPanel" aria-hidden="true"></div>
</body>
</html>