---
layout: compress
---
<!DOCTYPE html>
<html lang="en-US">
    <head>
        {% include head-tags.html %}
    </head>
    <body>
        {% include header.html %}
        <main>
            {% if page.cover %}
            <div id="cover">
                <img src="{{page.cover}}"/>
            </div>
            {% endif %}
            <span id="category">{{page.categories}}</span>
            <h1 id="title">{{page.title}}</h1>
            {% if page.subtitle != "" %}
            <h2 id="subtitle">{{page.subtitle}}</h2>
            {% endif %}
            <div id="post-info">
                {% if page.tags.size > 0 %}
                <span id="author">Posted by <a href="mailto:{{site.author.email}}">{{site.author.name}}</a> on {{page.date | date: '%A, %B %e, %Y'}}</span>
                {% assign tags = page.tags | limit: 5 %}
                <div id="tags">{% for tag in tags %}<span class="tag">{{tag}}</span>{% endfor %}</div>
                {% else %}
                <span id="author" style="text-align:center">Posted by {{site.author.name}} on {{page.date | date: '%A, %B %e, %Y'}}</span>
                {% endif %}
            </div>
            {{content}}
        </main>
        {% include footer.html %}
    </body>
</html>