@font-face {
    font-family: 'Inter 18pt';
    src: local('Inter 18pt SemiBold Italic'), local('Inter18pt-SemiBoldItalic'),
        url('subset-Inter18pt-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: local('Inter 18pt Regular'), local('Inter18pt-Regular'),
        url('subset-Inter18pt-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: local('Inter 18pt SemiBold'), local('Inter18pt-SemiBold'),
        url('subset-Inter18pt-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: local('Inter 18pt Thin Italic'), local('Inter18pt-ThinItalic'),
        url('subset-Inter18pt-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: local('Inter 18pt ExtraLight'), local('Inter18pt-ExtraLight'),
        url('subset-Inter18pt-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: local('Inter 18pt Thin'), local('Inter18pt-Thin'),
        url('subset-Inter18pt-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: local('Inter 18pt ExtraBold Italic'), local('Inter18pt-ExtraBoldItalic'),
        url('subset-Inter18pt-ExtraBoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: local('Inter 18pt Bold'), local('Inter18pt-Bold'),
        url('subset-Inter18pt-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: local('Inter 18pt ExtraBold'), local('Inter18pt-ExtraBold'),
        url('subset-Inter18pt-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: local('Inter 18pt Bold Italic'), local('Inter18pt-BoldItalic'),
        url('subset-Inter18pt-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: local('Inter 18pt Medium'), local('Inter18pt-Medium'),
        url('subset-Inter18pt-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: local('Inter 18pt Black Italic'), local('Inter18pt-BlackItalic'),
        url('subset-Inter18pt-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: local('Inter 18pt ExtraLight Italic'), local('Inter18pt-ExtraLightItalic'),
        url('subset-Inter18pt-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: local('Inter 18pt Black'), local('Inter18pt-Black'),
        url('subset-Inter18pt-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: local('Inter 18pt Light'), local('Inter18pt-Light'),
        url('subset-Inter18pt-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: local('Inter 18pt Light Italic'), local('Inter18pt-LightItalic'),
        url('subset-Inter18pt-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: local('Inter 18pt Medium Italic'), local('Inter18pt-MediumItalic'),
        url('subset-Inter18pt-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: local('Inter 18pt Italic'), local('Inter18pt-Italic'),
        url('subset-Inter18pt-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

